<!DOCTYPE html>
<html>
    <head>
        <title>Accident Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#legend {
    background: rgba(255, 255, 255, .3);
    padding: 10px;
    margin: 10px;
    border: 1px solid #aaa;
    width: 220px;
}
#legend h3 {
    margin-top: 0;
    text-align: center;
}
#legend p {
    margin-bottom: 0;
}
        </style>
    </head>
    <body>
        <div id="map"></div>
        <div id="legend"><h3>Taiwan Accident Map 2018</h3><p>This heatmap shows the accidents happened in 2018. Check out which places are more dangerous in your neighbor or on the way to your commute! <a target="_blank" href="https://blog.heron.me/accident-map-6b65b4ef6056">Read More</a></p></div>
        <script src="js/accident-map.js"></script>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=<%= gmap_api_key %>&libraries=visualization&callback=map_loaded_handler">
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141762708-1"></script>
        <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-141762708-1');
        </script>
        <!-- End of Google Analytics -->>

    </body>
</html>
